.home-container {
    width: 30%;
    margin: auto;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    text-align: center;
    padding: 2px 16px;
  }